/*
font-family: 'Average Sans', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Figtree', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Ubuntu', sans-serif;*/
/*
#FDECEF  - Lavender Blush
#EBEBEB  - Platinum
#000000  - Black
#378156  - Amazon
#BF3648  - French Raspberry
*/
head {
  display: none;
}

body {
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  background-color: #EBEBEB;
  ;
}

footer {
  background-color: #EBEBEB;
  padding: 1%;
}

h1 {
  font-size: 3.5em;
  padding: 2% 0 0;
}

h2, h3 {
  font-family: 'Figtree', sans-serif;
  font-weight: 800;
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  margin-top: 3%;
  font-family: 'Figtree', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

p {
  text-align: left;
}

.training>ul {
  list-style-image: url();
}


#Home h3 {
  padding: 7% 5%;
  margin: 8% 0;
  font-size: 3em;
  color: #BF3648;
  text-shadow: 1px 1px 2px black, -1px -1px 2px black;
}

#Home {
  padding: 0% 0 0;
  background-color:  #f2faf6;
  box-shadow: 0 2px 5px #176136;
  z-index: 2;
}


#Home a{
  text-decoration: inherit;
  color: inherit;
}

#About {
  padding: 5% 5% 2% 5%;
  background-color: #f2faf6;
  box-shadow: 0 2px 5px #176136;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

#Location {
  padding: 7% 3% 7%;
  background-image: url('images/carpetbg.jpg');
  box-shadow: 0 2px 5px #176136;
}

#Location h4 {
  font-size: 1.3em;
}

#Sessions {
  background-color: #f2faf6;
  margin-bottom: -2%;
}

#Sessions h4 {
  padding-top: 35px;
}


#Telehealth p{
  margin: 10% auto;

}

#Insurance h4 {
  padding-top: 35px;
  margin-top: 0;
  color: #EBEBEB;
}

#Insurance .textbox{
  position:relative;
  width: 100%;
  z-index: 1;
}

#Insurance {
  background-image: url('images/NightUmbrella.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 150%;
  overflow: hidden;
}

.navbar {
  font-family: Figtree, sans-sans-serif;
  font-weight: 600;
  background-color: #EBEBEB;
  box-shadow: 0 2px 5px #176136;
}

.navbar .d-lg-none {
  font-family: 'Comfortaa', cursive;
  font-size: 1.75em;
  font-weight: 600;
}

.navbar .logocontainer{
  position: relative;
  width: 32px;
  height: 32px;
}

.navbar-logo{
  position: absolute;
  filter: drop-shadow(0px 10px 4px rgba(100,100,100, .5));

}

#Home .logocontainer{
  position: relative;
  width:100px;
  height:81.5px;
}

.laureltilt{
  width: 100px;
  position: absolute;
  left:20px;
  top:20px;
  opacity: 0;

}

.hearttilt{
  width: 100px;
  position: absolute;
  left:20px;
  top:20px;
  opacity: 0;
}

.top-banner-photo {
  background-image: url('images/TreeGround.jpg');
  background-size: cover;
  height: 500px;
  padding-top: 60px;
  padding-bottom: 0;
  background-color:  #f2faf6;
  margin-bottom: 0;
  box-shadow: 0 2px 5px #176136;
  position: relative;
  z-index: 2;
}

.call-to-action-large {
  margin: auto 5%;
  font-size: 2.5em;
  color: white;
  letter-spacing: .75em;
}

.call-to-action-medium {
  margin: auto 15%;
  font-size: 2.5em;
  color: #378156;
  text-align: left
}

.call-to-action-medium .bi {
  font-size: 1em;
  color: white;
  text-shadow: 0 1px black, 0 -1px black, 1px 0 black, -1px 0 black;
}

.portrait {
  width: 80%;
  border-radius: 5px;
}

.training {
  text-align: left;
  max-width: 450px;
  margin: auto;
}

.training>ul {
  list-style-type: none;
}

.training li {
  font-size: 2em;
  line-height: 1em;
}

.certifaction {
  position: relative;
  bottom: .75em;
  font-size: .5em;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

.training li::before {
  transform: rotate(-90deg);
  content: 'workspace_premium';
  font-family: 'Material Icons';
}

.envisionname {
  font-family: 'Comfortaa', cursive;
  font-weight: 800;
  letter-spacing: -.1em
}

.frame {
  margin: 0% 5% 5% 15%;
  padding: 8px;
  height: 230px;
  width: 300px;
  border: 2px solid #378156;
  border-radius: 5px;
  background-color: #378156;
}

.tele-text {
  padding: 0 100px;
}

.tele-pic{
  max-width: 80%;
}

.card-body{
  margin: 5% auto;
}

.buttoncolumn{
  margin-top: 3%;
  margin-bottom: 0;
}

.insurance-text {
  padding: 50px 100px;
  align-items: center;
}

.comet-panel{
  position:relative;
}

.comet-panel img{
  position: absolute;
  width: 150%;
  top:-73.5%;
  left:0;
  z-index: 1;
}

.textbox {
  background-color: #EBEBEB;
  padding: 1.2em;
  border-radius: 5px;
}

.textbox-border {
  background-color: #EBEBEB;
  padding: 1.2em;
  border: 1px solid black;
  border-radius: 5px;
}

.paypal {
  font-family: 'Average Sans', sans-serif;
  font-style: italic;
}

.zelle {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
